.bg-img-1 {
  background-image: url('./images/bg-1.png');
  background-size: cover;
}

.bg-img-2 {
  background-image: url('./images/bg-2.png');
  background-size: cover;

}

.bg-img-3 {
  background-image: url('./images/bg-1.png');
  background-size: cover;

}

.carousel-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
